{% extends 'base.html' %}

{% block content %}
<h1>Cart:</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
            <th>Remove</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.product_name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.subtotal }}</td>
            <td>
                <button class="btn btn-danger">
                    Remove
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock content %}